<router-outlet />

<div [innerHTML]="safeHTML"></div>

<a [href]="safeURL">Enlace seguro</a>

<iframe [src]="safeResourceURL" frameborder="0"></iframe>

<br />
<br />
Valor del formulario:
{{ passwordForm.value | json }}
<br />
<br />
Estado del formulario:
{{ passwordForm.status }}
<br />
<br />
Validación del formulario:
{{ passwordForm.valid }}
<br />
<br />

<form [formGroup]="passwordForm">
  <div>
    <label for="passowrd-input">Contraseña</label>
    <input type="password" id="passowrd-input" formControlName="password" />
  </div>
</form>
